h1 {
  font-family: 'Lora';
}

* {
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.8);
}

button {
  font-family: Lato;
}

.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* A media query for a large screen */
@media (min-width: 1170px) {
  .wrapper {
    max-width: 1170px;
  }
}